img {
  width: 100%;
}

.logo-box {
  width: 20%;
  font-weight: bold;
  height: 45%;
  position: relative;
}

.logo-img {
  width: 80%;
  display: inline-block;
}

.space-box {
  width: 20%;
  height: 80%;
  float: left;
  position: relative;
}
.vertical-text {
  float: left;
  transform: rotate(-90deg);
  transform-origin: center center;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.horizontal-text {
  float: right;
  font-size: 1.5rem;
  text-align: right;
}

